body {
    padding: 0;
    margin: 0;
    font-family: verdana;
}
 
.xx {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #666699;
}
 
h1 {
    color:(235, 15, 150);
    font-size: 80px;
    text-align: center;
}
 
.digit {
    font-size: 100px;
    color: #fff;
}
 
.txt {
    font-size: 30px;
    color: #fffcd6;
}
 
#nn {
    margin-top: 50px;
}
 
.m {
    width: 100px;
    padding: 10px 15px;
    margin: 0px 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.5s;
    color: white;
    font-weight: 500;
}
 
#start {
    background-color: #993333;
}
 
#stop {
    background-color: #33cccc;
}
 
#reset {
    background-color: #750ffa;
}
