body {padding=0;
    marrgin=0;
    background color=none;
    font-family: Arial, sans-serif;
   }
mm{
    color:red;
    padding:1px;
    margin:1px;
    h1 {
    text-align: center;
    margin: 40px 0;
    padding:0;
       
   }
    form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
   }
   
   input[type="text"] {
    width: 50%;
    padding: 10px;
    border: none;
    border: 1px solid #ee0f0f;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 16px;
   }
   
   button[type="submit"], button {
    background-color: #250dfa;
    color: white;
    border: none;
    border-radius: 100px;
    padding: 50px 20px;
    cursor: pointer;
    font-size: 20px;
   }
   
   button[type="submit"]:hover, button:hover {
    background-color: #3509fc;
   }
   
   ul {
    padding: 0;
   }
    li {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
       padding:1;
       color:none;
   }
   li input[type="checkbox"] {
    margin-right: 5px;
   
   }
   li span {
    flex: 1;
   }
    li button {
    background-color: blue;
    margin-left: 8px;
    color:white;
    border: none;
    border-radius: 5px;
    padding: 5px 9px;
    font-size: 15px;
    cursor: pointer;
   }
   
   li button:hover {
    background-color: green;
   }
